 .exercise_main{
    background-image:url(../../assets/blob1.png);
    background-color:var(--primary-dark);
    position: relative;
    background-size: 100% 100%;
    height:100vh;
    width:100vw;
} 

.exercise_main .heading::before{
    position: absolute;
    left:-1rem;
    content: '';
    display: block;
    width:.6rem;
    height: 4rem;
    background: var(--primary);
}
.exercise_main .heading{
    position: relative;
    left:5%;
    width:max-content;
    font-size: 3rem;
}
.exercise_main .container{
    position: absolute;
    top: 7rem;
    width:100%;
    text-transform: capitalize;
}
.exercise_main .back{
    position: absolute;
    left:5%;
    background-image: url('icons8-left-50.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: var(--dark);
    border: none;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.exercise_main .heading_1{
    display: grid;
    place-items: center;
    /* display: flex;
    flex-direction: row;
    gap:35rem; */
    margin-bottom: 4rem;
}

.exercise_main .info{
    position: absolute;
    top: 8rem;
     
    width: 100%;
} 

.exercise_main .vedios{
   
    margin:auto;
    width:80%;
}

@media all and (max-width:600px){

    .exercise_main{
        background-image:url(../../assets/blob1.png);
        background-color:var(--primary-dark);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: repeat;
        position: absolute;
        height:150vh;
        width:100vw;
        background-position: 100% 100%;
    }

}
