.item{
    margin: .5rem;
    --width:15rem;
    width:var(--width);
    aspect-ratio: 1/1;
    background: white;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
.item img{
    border-radius: .5rem .5rem 0 0 ;
    width:var(--width);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: .5 .5;
}
.item .name{
    padding: .3rem;
    font-weight: 600;
}